{% extends 'base.html' %}
{% block pagetitle %}Редактирование {{ form_data.inventory_number }}{% endblock %}
{% block title_active %}{{ form_data.inventory_number }}{% endblock %}

{% block active_id %}{{ form_data.number }}{% endblock active_id %}
    
{% block content %}
<div class="page-content">
    <div class="card">
        <div class="card-body">
            {{form_data}}
            <form method="post" action="" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_number">Номер:</label>
                    <input type="number" name="number" class="form-control" value="{{ form_data.number }}" required id="id_number">
                </div>
                <div class="form-group">
                    <label for="id_inventory_number">Инвентарный номер:</label>
                    <input type="text" name="inventory_number" class="form-control"  maxlength="255" value="{{ form_data.inventory_number }}" required id="id_inventory_number">
                    <div id="inventory_number-error" class="is-invalid">{{error}}</div>
                </div>
                <div class="form-group">
                    <label for="id_new_number">Новый номер:</label>
                    <input type="text" name="new_number" class="form-control"  maxlength="255" value="{{ form_data.new_number }}" id="id_new_number">
                </div>
                <div class="form-group">
                    <label for="id_previous_year_number">Номер присвоенный в прошлом году:</label>
                    <input type="text" name="previous_year_number" class="form-control"  maxlength="255" value="{{ form_data.previous_year_number }}" id="id_previous_year_number">
                </div>
                <div class="form-group">
                    <label for="id_match_with_accounting">Наименование по списке бухгалтерии:</label>
                    <input type="text" name="match_with_accounting" class="form-control"  value="{{ form_data.match_with_accounting }}"  maxlength="255"  id="id_match_with_accounting">
                </div>
                <div class="form-group">
                    <label for="id_location">Местоположение:</label>
                    <input type="text" name="location" maxlength="255" class="form-control"  value="{{ form_data.location }}" required id="id_location">
                </div>
                <div class="form-group">
                    <label for="id_equipment_type">Тип оборудования:</label>
                    <input type="text" name="equipment_type"  maxlength="255" class="form-control"  value="{{ form_data.equipment_type }}" required id="id_equipment_type">
                </div>
                <div class="form-group">
                    <label for="id_model_if_not_matching">Комментарии и примечания:</label>
                    <input type="text" name="model_if_not_matching" maxlength="255" class="form-control"  value="{{ form_data.model_if_not_matching }}" id="id_model_if_not_matching">
                </div>
    
                <input type="hidden" name="qr_code" value="{{form_data.qr_code}}" id="id_qr_code">
    
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-icon-holder btn-shadow btn-light-hover btn-light-hover" id="scanBtn">Сканировать QR код<i class="icon-camera"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("scanBtn").addEventListener("click", function () {
            const video = document.createElement("video");
            const canvas = document.createElement("canvas");
            const context = canvas.getContext("2d");

            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (err) {
                    console.log("An error occurred: " + err);
                });

            video.addEventListener("loadeddata", function () {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;

                setInterval(function () {
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);

                    try {
                        const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
                        const code = jsQR(imageData.data, imageData.width, imageData.height);

                        if (code) {
                            video.srcObject.getTracks().forEach(track => track.stop());  // Stop the camera
                            // Заполняем поле Инвентарный номер
                            document.getElementById("id_inventory_number").value = code.data;
                        }
                    } catch (e) {
                        console.log("An error occurred: " + e);
                    }
                }, 1000 / 15);
            });
        });
    });
</script>

{% if form.instance.qr_code %}
    <img src="{{ form.instance.qr_code.url }}" alt="QR Code">
{% endif %}
{% endblock %}

